.function-wrap {
    position: relative;
    padding: 10px 10px 0;
    background-color: #e0e6e6;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    margin: 25px;

}
.function-wrap > div {
    display: flex;
    margin-bottom: 8px;
}
.spacer {
    flex: 1;
}
button.btn {
    border: 1px solid;
    background: #1e2040;
    color: white;
}
/* .betfair365 .btn-send {
    background: #2196f3;
    color: #fff;
    border-color: #000;
} */

.ticker{
    margin-left: 8px;
    width: 8%;
    color: black;
    border-radius: 14px;
    margin-top: 20px;
    text-align: center;
    padding: 2px 4px 4px 4px;

}
.modal-content input {
    width: 6% !important;
    height: 15px !important;
}
label{
    display: flex;
}
#icon{
    color: blue;
    cursor: pointer;
}