<!-- <app-header></app-header> -->
<div class="col-md-12 main-container">
    <div>
        <div class="listing-grid">
            <div class="detail-row">
                <h2>Change Password</h2>
                <div class="m-t-20">
                    
                    <form [formGroup]="changePassForm" (ngSubmit)="changePass()">
                    <div class="col-md-12">
                      
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <input type="password" name="password" formControlName="newpassword" class="form-control" required="true">
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="confirm_password">Confirm Password</label>
                                        <input type="password"  formControlName="confirm" name="password_confirmation" class="form-control"
                                            required="true">
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="master_password">Transaction Password</label>
                                        <input type="password" formControlName="password" name="master_password" class="form-control"
                                            required="true">
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>&nbsp;</label><br>
                                    <input type="hidden" name="_token" value="rb8TLkkqdCYCn3WK1V7D0uYMpv6uK5URSUtz4DMA">
                                    <button type="submit" class="btn btn-diamond">Load</button>
                                </div>
                            </div>
                        
                    </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive data-table">
            </div>
        </div>
    </div>
</div>