<!-- <app-header></app-header> -->
<div class="col-md-12 main-container">
    <div class="listing-grid">
        <div class="detail-row">
            <h2 class="d-inline-block">Account List</h2>
            <div class="float-right m-b-10">
                <p class="text-right">
                    <a href=""
                        class="btn btn-diamond" routerLink="/add-account" >Add Account </a>
                </p>
            </div>
        </div>
        <div class="table-responsive data-table">
            <a class="btn buttons-pdf"
                href="">PDF</a>
            <a class="btn buttons-excel"
                href="">Excel</a>
            <div></div>
            <table id="clientListTable" class="table table-striped table-bordered dataTable no-footer"
                style="width:100%">
                <thead>
                    <tr>
                        <th width="10%">User Name</th>
                        <th width="10%">Credit Referance</th>
                        <th width="7%">Balance</th>
                        <th  width="8%">Avail. bal.</th>
                        <th  width="8%">Total bal.</th>
                        <th width="3%" class="noExport">U St</th>
                        <th width="3%" class="noExport">B St</th>
                        <th  width="9%">Exposure Limit</th>
                        <th  width="8%">Ref.P/L</th>
                        <th width="8%">Player bal.</th>
                        <th width="25%" class="noExport">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row">
                        <td></td>
                        <td class="text-right"><b></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      
                      
                        <td style="width: 200px">
                        </td>
                        <td></td>
                    </tr>
                    <tr role="row" *ngFor="let user of userList">
                        <td class="uname">
                            <a href="javascript:void(0)" title="roman">{{user.userName}}</a>
                            <p ></p>
                        </td>
              
                        <td class="crf text-right">{{user.creditRef}}</td>
                        <td class="crf text-right">{{user.balance}}</td>
                        <td class="exlimit text-right">{{user.availableBalance}}</td>
                        <td class="comm">
                            <p>{{user.totalBalance}}</p>
                        </td>
                        <td class="ustatus">
                            <label class="form-check-label">
                                <input type="checkbox"  disabled [checked]="isCheckboxChecked(user.userStatus)">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="bstatus">
                            <label class="form-check-label">
                                <input  type="checkbox" disabled="" [checked]="isCheckboxChecked(user.userStatus)">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="exlimit text-right">{{user.exposure}}</td>
                        <td class="exlimit text-right">{{user.refPL}}</td>
                        <!-- <td class="atype lv_{{user.userType}}" ></td> -->
                        <td class="text-right">
                            {{user.playerBalance}}
                        </td>
                        <td class="actions text-left">
                            
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" (click)="userDipo(user.userName)">D</button>
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#withdrawamount" data-bs-whatever="@getbootstrap">W</button>
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#ex-limit" data-bs-whatever="@getbootstrap">L</button>
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#credit" data-bs-whatever="@getbootstrap">C</button>
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#password" data-bs-whatever="@getbootstrap">P</button>
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#status" data-bs-whatever="@getbootstrap"  (click)="openChangeStatusModal(user)">S</button>
                            <button type="button" class="btn-pop btn-primary" data-bs-toggle="modal" data-bs-target="#Casinodetails" data-bs-whatever="@getbootstrap">MORE</button>
                            
                            

                        </td>
                   
             
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modal-userdetails">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">User Details</h4>
                    <button type="button" class="close" #closebutton data-dismiss="modal">×</button>
                </div>

                <div class="modal-body" id="user-details">
                </div>
            </div>
        </div>
    </div>

  

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div  class="modal-dialog">
            <div  class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Deposit</h4>
                    <button type="button" class="close" #closebutton data-bs-dismiss="modal" >×</button>
                    <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button> -->
                </div>
                <form id="DepositForm" [formGroup]="transferForm" (ngSubmit)="transfer()">

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row m-b-20" >
                                <div class="col-md-4">
                                    <label class="deposite-user-first">{{userName}}</label>
                                </div>
                                <div class="col-md-8" style="display: flex;">
                                    <span class="popup-box" id="deposite-second">0.0</span>
                                    <span class="popup-box" id="deposite-second-diff">{{-amountInput}}</span>
                                    <!-- <input [value]="-amountInput" class="popup-box" id="deposite-first"/> -->
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label class="deposite-user-second">{{subUserName}}</label>
                                </div>
                                <div class="col-md-8">
                                    <span class="popup-box" id="deposite-second">0.0</span>
                                    <span class="popup-box" id="deposite-second-diff">{{amountInput}}</span>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Amount</label>
                                </div>
                                <div class="col-md-8">
                                    <input name="amount" formControlName="amount" type="number" formControlName="amount" placeholder="0" #amount
                                    numberOnly class="text-right maxlength10" id="deposite-amount" (input)="onInputChange($event)" >
                                </div>
                                <!-- <div class="text-warning"   *ngIf="
                                transferForm?.get('amount').invalid &&
                                (transferForm?.get('amount').touched ||
                                transferForm?.get('amount').dirty)"> <div *ngIf="transferForm?.get('amount').hasError('required')">
                                Amount is required
                              </div>
                                  </div> -->
                                  
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Remark</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea value="" id="deposit-remark" formControlName="remark"></textarea> 
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Transaction Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="Password"  formControlName="password"  name="password" id="password" >
                                    <!-- <div class="text-warning"   *ngIf="
                                    transferForm?.get('password').invalid &&
                                    (transferForm?.get('password').touched ||
                                    transferForm?.get('password').dirty)">
                                <div *ngIf="transferForm?.get('password').hasError('required')">
                                  Password is required
                                </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" name="uid" id="uid">
                        <button type="button" class="btn btn-back" data-dismiss="modal" style="background-color: #00a358; color:#fff;"><i
                                class="fas fa-undo" ></i>Back</button>
                        <!-- <button type="submit" class="btn btn-submit" (click)="senddeposite()" style="background-color: #1e2040; color:#fff;">submit<i class="fas fa-sign-in-alt"></i></button>
                         -->
                         <button style="background-color: #1e2040; color:#fff;" type="submit" class="btn btn-submit" (click)="senddeposite()">
                            submit<i class="fas fa-sign-in-alt"></i>
                          </button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="modal fade" id="withdrawamount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="modal-dialog">
            <div class="modal-content" >

                <div class="modal-header">
                    <h4 class="modal-title">Withdraw</h4>
                    <button type="button" class="close" #closebutton data-bs-dismiss="modal" >×</button>
                </div>
                <form action="" id="WithdrawForm" method="post" autocomplete="off"
                    onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false">

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label class="withdraw-user-first">Loading..</label>
                                </div>
                                <div class="col-md-8">
                                    <span class="popup-box" id="withdraw-first">Loading..</span>
                                    <span class="popup-box" id="withdraw-first-diff"></span>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label class="withdraw-user-second">Loading..</label>
                                </div>
                                <div class="col-md-8">
                                    <span class="popup-box" id="withdraw-second">Loading..</span>
                                    <span class="popup-box" id="withdraw-second-diff"></span>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Amount</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="text-right maxlength10" id="withdraw-amount"
                                        onkeyup="if (!window.__cfRLUnblockHandlers) return false; changeSetWithdrawAmount()"
                                        min="0" max="9999999999" step=".01">
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Remark</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea value="" id="withdraw-remark"></textarea>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Transaction Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="Password" name="" id="withdraw-mpassword" required="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" name="uid" id="withdraw-uid">
                        <button type="button" class="btn btn-back" data-dismiss="modal"><i
                                class="fas fa-undo"></i>Back</button>
                        <button type="submit" class="btn btn-submit">submit<i class="fas fa-sign-in-alt"></i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>


 <div class="modal fade" id="ex-limit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- <div class="modal fade show" id="ex-limit" style="padding-right: 17px; display: block;"> -->
        <div class="modal-dialog">
        <div class="modal-content">
        
        <div class="modal-header">
        <h4 class="modal-title">Exposure Limit</h4>
        <button type="button" class="close" #closebutton data-bs-dismiss="modal" >×</button>
        </div>
        <form action="" id="LimitForm" method="post" autocomplete="off" onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false">
        
        <div class="modal-body">
        <div class="container-fluid">
        <div class="row m-b-20">
        <div class="col-md-4">
        <label>Old Limit</label>
        </div>
        <div class="col-md-8">
        <span class="popup-box popup-box-full" id="old-limit">0.00</span>
        </div>
        </div>
        <div class="row m-b-20">
        <div class="col-md-4">
        <label>New Limit</label>
        </div>
        <div class="col-md-8">
        <input type="number" class="text-right maxlength10" id="new-limit" required="" min="0" max="9999999999">
        </div>
        </div>
        <div class="row m-b-20">
        <div class="col-md-4">
        <label>Transaction Password</label>
        </div>
        <div class="col-md-8">
        <input type="Password" name="" id="mpasswprd-limit" required="">
        </div>
        </div>
        </div>
        </div>
        
        <div class="modal-footer">
        <input type="hidden" name="uid" id="limit-uid" value="9033fd0c-4603-4e87-afdf-34bdc6c02a02">
        <button type="button" class="btn btn-back" data-dismiss="modal"><i class="fas fa-undo"></i>Back</button>
        <button type="submit" class="btn btn-submit">submit<i class="fas fa-sign-in-alt"></i></button>
        </div>
        </form></div>
        
        </div>
        </div>

    <div class="modal fade" id="credit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Credit</h4>
                    <button type="button" class="close" #closebutton data-bs-dismiss="modal" >×</button>
                </div>
                <form action="" id="CreditForm" method="post" autocomplete="off"
                    onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false">

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Old Credit</label>
                                </div>
                                <div class="col-md-8">
                                    <span class="popup-box popup-box-full" id="old-credit">Loading..</span>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>New Credit</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="text-right maxlength12" id="new-credit" required=""
                                        min="0" max="999999999999">
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Transaction Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="Password" name="" id="credit-mpassword" required="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" id="credit-uid">
                        <button type="button" class="btn btn-back" data-dismiss="modal"><i
                                class="fas fa-undo" style="background-color: #00A358; color: white;"></i>Back</button>
                        <button type="submit" class="btn btn-submit" style="background-color: #1E2040; color: white;">submit<i class="fas fa-sign-in-alt"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Password</h4>
                    <button type="button" class="close" #closebutton data-bs-dismiss="modal" >×</button>
                </div>

                <div class="modal-body">
                    <form action="" id="PasswordForm" method="post" autocomplete="off"
                        onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false">
                        <div class="container-fluid">
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>New Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="Password" class="text-right" id="new-password" required=""
                                        maxlength="20">
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Confirm Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="Password" class="text-right" id="confirm-password" required=""
                                        maxlength="20">
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-4">
                                    <label>Transaction Password</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="Password" name="" id="password-mpassword" required="" maxlength="20">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <input type="hidden" id="password-uid">
                    <button type="button" class="btn btn-back" data-dismiss="modal"><i
                            class="fas fa-undo" style="background-color: #00A358; color: white;"></i>Back</button>
                    <button type="submit" class="btn btn-submit" style="background-color: #1E2040; color: white;">submit<i class="fas fa-sign-in-alt"></i></button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="status" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" *ngIf="userList">

                <div class="modal-header">
                    <h4 class="modal-title">Change Status</h4>
                    <button type="button" class="close" #closebutton data-bs-dismiss="modal" >×</button>
                </div>
                <div class="m-t-20">
                    <div class="col-md-12">
                        <div class="user-name">
                            <p id="status-username">
                                <span></span
                                    >{{ statusUser?.userName }}
                            </p>
                        </div>
                        <div class="float-right user-status">
                            <p class="text-success" id="user-active-diff-s" *ngIf="statusUser?.userStatus==1">Active</p>
                            <p class="text-danger" id="user-active-diff-f" *ngIf="statusUser?.userStatus==0">Inactive</p>
                        </div>
                    </div>
                </div>
                <div class="white-wrap">
                    <ul id="statusBtn" class="status_but">
                      <li>
                        <a
                          id="activeBtn"
                          class="but_active"
                          [ngClass]="{
                            disable: statusUser?.userStatus === 0,
                            open: selectedStatus === 0
                          }"
                          [attr.disabled]="statusUser?.userStatus === 0"
                          (click)="selectStatus($event, 0)"
                        >
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                          Active
                        </a>
                      </li>
                      <!-- <li>
                        <a
                          id="suspendBtn"
                          class="but_suspend"
                          [ngClass]="{
                            disable: statusUser?.userStatus === 1,
                            open: selectedStatus === 1
                          }"
                          [attr.disabled]="statusUser?.userStatus === 1"
                          (click)="selectStatus($event, 1)"
                        >
                          <i class="fa fa-times" aria-hidden="true"></i>
                          Suspend
                        </a>
                      </li> -->
                      <li>
                        <a
                          id="suspendBtn"
                          class="but_suspend"
                          [ngClass]="{
                            disable: statusUser?.userStatus === 1,
                            open: selectedStatus === 1
                          }"
                          [attr.disabled]="statusUser?.userStatus === 1"
                          (click)="selectStatus($event, 1)"
                        >
                        <i class="fa fa-times" aria-hidden="true"></i>
                          Suspend
                        </a>
                      </li>
                      <li>
                        <a
                          id="lockedBtn"
                          class="but_locked"
                          [ngClass]="{
                            disable: statusUser?.userStatus === 2,
                            open: selectedStatus === 2
                          }"
                          [attr.disabled]="statusUser?.userStatus === 2"
                          (click)="selectStatus($event, 2)"
                        >
                          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                          Locked
                        </a>
                      </li>
                    </ul>
                  </div>
                  
                  

                <div class="modal-body m-t-20">
                    <form id="StatusForm" [formGroup]="statusForm" (ngSubmit)="changeStatus()" >
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <label for="status-mpassword">Transaction Password</label>
                          </div>
                          <div class="col-md-8">
                            <input type="password" placeholder="password" name="password" id="status-mpassword" formControlName="password" required>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <input type="hidden" id="status-uid">
                        <button type="button" class="btn btn-back" style="background-color: #00A358; color: white;" >
                          <i class="fas fa-undo"></i> Back
                        </button>
                        <button type="submit" class="btn btn-submit" style="background-color: #1E2040; color: white;">
                          Submit <i class="fas fa-sign-in-alt"></i>
                        </button>
                      </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Casinodetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Casino Game Details</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" >×</button>
                </div>

                <div class="modal-body" id="casino-game-details">
                </div>
            </div>
        </div>
    </div>

</div>
