<h1 style="margin-top: 11px;font-size: 1.6rem;padding-left: 20px;">Risk Management Summary</h1>


<div class="nav nav-tabs margin-1" id="nav-tab" role="tablist">

    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
        role="tab" aria-controls="nav-home" aria-selected="true">Top 10 Matched Amount Player</a>

    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab"
        aria-controls="nav-profile" aria-selected="false">Top 10 Exposure Player</a>

</div>

<div class="row margin-1">
    <div class="tab-content col-8" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row t1">
                <table class="table col-6">

                        <tr>
                            <th>UID</th>
                            <th>Exposure</th>
                            <th>Matched Amount</th>
                        </tr>

                    <tbody>
                        <tr>
                            <th>101</th>
                            <th>(120.00)</th>
                            <th>4,000.00</th>
                        </tr>
                    </tbody>
                </table>
                <table class="table col-6">

                        <tr>
                            <th>UID</th>
                            <th>Exposure</th>
                            <th>Matched Amount</th>
                        </tr>

                    <tbody>
                        <tr>
                            <th>101</th>
                            <th>(120.00)</th>
                            <th>4,000.00</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
              <table class="table col-6">

                      <tr>
                          <th>UID</th>
                          <th>Exposure</th>
                          <th>Matched Amount</th>
                      </tr>


                  <tbody>
                      <tr>
                          <th>101</th>
                          <th>(120.00)</th>
                          <th>4,000.00</th>
                      </tr>
                  </tbody>
              </table>
              <table class="table col-6">

                      <tr>
                          <th>UID</th>
                          <th>Exposure</th>
                          <th>Matched Amount</th>
                      </tr>

                  <tbody>
                      <tr>
                          <th>101</th>
                          <th>(120.00)</th>
                          <th>4,000.00</th>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>

    <div class="col-4">
        <h1 class="horse-h"><b>Horse Racing & Greyhound Racing</b></h1>
        <table class="table ">

                <tr>
                    <th>Type</th>
                    <th>Country</th>
                    <th>Events</th>
                    <th>Matched Amount</th>
                </tr>


            <tbody>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="margin-1 add-account">
    <h2>match odds</h2>
    <table class="table hide">
        <thead>
            <tr>
                <th rowspan="2">Sports</th>
                <th rowspan="2">Market</th>
                <th rowspan="2">Event/Market Name</th>
                <th colspan="3">Player P/L</th>
                <th rowspan="2">Downline P/L</th>
            </tr>
            <tr>
                <th width="7%">1</th>
                <th width="7%">x</th>
                <th width="7%">2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" data-label="Sports">Cricket</td>
                <td rowspan="2" data-label="Market">
                    Winner </td>
                <td data-label="Event/Market Name">Open<strong>Indian
                        Premier League</strong></td>
                <td data-label="1">0.00</td>
                <td data-label="x">0.00</td>
                <td data-label="2">0.00</td>
                <td data-label="Downline P/L">View</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="margin-1 add-account">
    <h2>match odds</h2>
    <table class="table hide">
        <thead>
            <tr>
                <th rowspan="2">Sports</th>
                <th rowspan="2">Market</th>
                <th rowspan="2">Event/Market Name</th>
                <th colspan="3">Player P/L</th>
                <th rowspan="2">Downline P/L</th>
            </tr>
            <tr>
                <th width="7%">1</th>
                <th width="7%">x</th>
                <th width="7%">2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" data-label="Sports">Cricket</td>
                <td rowspan="2" data-label="Market">
                    Winner </td>
                <td data-label="Event/Market Name">Open<strong>Indian
                        Premier League</strong></td>
                <td data-label="1">0.00</td>
                <td data-label="x">0.00</td>
                <td data-label="2">0.00</td>
                <td data-label="Downline P/L">View</td>
            </tr>
        </tbody>
    </table>
</div>
