<!-- <app-header></app-header> -->
<div class="col-md-12 main-container">
  <div>
    <div class="add-account">
      <h2 class="m-b-20">Add Account</h2>
      <form id="account_createForm">
        <div class="row">
          <div class="col-md-6 personal-detail">
            <h4 class="m-b-20 col-md-12">Personal Detail</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username">Client Name:</label>
                  <input class="form-control" id="userName" type="text" placeholder="User Name" formControlName="userName"
                  maxlength="20" appInputRestriction="noSpecialChars" required />

                <span id="username-required" class="error">
                  <div class="errors" *ngIf="
                    userRegForm?.get('userName').invalid &&
                    (userRegForm?.get('userName').touched ||
                      userRegForm?.get('userName').dirty)
                  ">
                    <div *ngIf="userRegForm?.get('userName').hasError('required')">
                      Username is required
                    </div>
                  </div>
                </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">User password:</label>
                  <input class="form-control" id="userPassword" type="password" placeholder="Password"
                    formControlName="password" maxlength="20" required />
                  <span id="password-error" class="error">
                    <div class="errors" *ngIf="
                      userRegForm?.get('password').invalid &&
                      (userRegForm?.get('password').touched ||
                        userRegForm?.get('password').dirty)
                    ">
                      <div *ngIf="userRegForm?.get('password').hasError('required')">
                        Password is required
                      </div>
  
                      <div *ngIf="userRegForm?.get('password').errors['minlength']">
                        Password must be at least 8 characters
                      </div>
  
                      <div class="error-text" *ngIf="
                        userRegForm?.get('password').hasError('passwordStrength')
                      ">
                        {{ userRegForm?.get("password").errors["passwordStrength"] }}
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <ng-template [ngIf]="showCurrencyDropdown">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="username">Select Currency</label>
                    <select class="form-control" id="currencyCode" type="" placeholder="Enter" formControlName="currency">
                      <option value="">Select Currency</option>
                      <option [ngValue]="currency" *ngFor="let currency of currencyMap">
                        {{ currency.name }}
                      </option>
                    </select>
                    <span id="username-error" class="error" style="display: none">Username already taken</span>
                    <span id="username-required" class="error"></span>
                  </div>
                </div>
              </ng-template>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password_confirmation">Full Name:</label>
                  <input class="form-control" id="firstName" type="text" placeholder="Full Name" maxlength="50"
                  formControlName="fullName" />
                <span id="fullname-error" class="error"></span>
                </div>
              </div>
              <ng-template [ngIf]="showDomainInput">
              <div class="col-md-6">
                <div class="form-group" >
                  <label for="fullname">Domain Name:</label>
                  <input class="form-control" id="firstName" type="text" placeholder="Enter" maxlength="50"
                  formControlName="domain" />
                <span id="fullname-error" class="error"></span>
                </div>
              </div>
              </ng-template>
              <div class="col-md-3">
                <ng-template [ngIf]="showDomainCheckbox">
                  <tr>
                    <th>
                      <label class="diffshare" for="allowDomainAllocation">Allow Domain Allocation
                        <span></span>
                      </label>
                    </th>
                    <td>
                      <input id="domainAllocation" type="checkbox" placeholder="Enter"
                        formControlName="allowDomainAllocation" />
                    </td>
                  </tr>
                </ng-template>
              </div>
              
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="city">City:</label>
                  <input
                    maxlength="15"
                    placeholder="City"
                    name="city"
                    id="city"
                    value=""
                    type="text"
                    class="form-control"
                  />
                  <span id="city-error" class="error"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Phone:</label>
                  <input
                    maxlength="10"
                    placeholder="Phone"
                    name="phone"
                    id="phone"
                    value=""
                    type="number"
                    class="form-control"
                  />
                  <span id="phone-error" class="error"></span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 account-detail">
            <h4 class="m-b-20 col-md-12">Account Detail</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="account_type">Acount Type:</label>
                  <select
                    name="accounttype"
                    id="accounttype"
                    class="form-control"
                    required=""
                  >
                    <option value="">- Select Your A/c. Type -</option>
                    <option value="Agent">{{member.name}}</option>
                    <option value="User">User</option>
                  </select>
                  <span id="accounttype-error" class="error"></span>
                </div>
              </div>
              <ng-template [ngIf]="!isClient && !isDifferentSharingOpen && !isprepaidOpen">
              <div class="col-md-6" *ngIf="!isDifferentSharingOpen">
                <div class="form-group">
                  <label for="credit_ref">Share(%):</label>
                  <input class="form-control" placeholder="Enter" name="credit_ref" id="credit_ref" value="" max="100"
                  type="number" formControlName="sharePercent" (keypress)="
                  ($event.charCode == 8 || $event.charCode == 0
                    ? null
                    : ($event.charCode >= 48 && $event.charCode <= 57) ||
                      $event.charCode === 13)
                " numberRange />
                <small style="display: block; color: #5f5f5f;text-align: right;">0 - {{ minMaxSharing }}%
                </small>
                  <span id="creit-error" class="error"></span>
                </div>
              </div>
              </ng-template>

              <div class="col-md-6">
                <div class="form-group" id="exposer-limit">
                  <label for="exposerlimit">Exposer Limit:</label>
                  <input
                    placeholder="Exposer Limit"
                    id="exposerlimit"
                    name="exposelimit"
                    value=""
                    type="number"
                    class="form-control"
                    required=""
                  />
                  <span id="exposerlimit-error" class="error"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row m-t-20">
          <div class="col-md-12">
            <div class="float-right">
              <input
                type="hidden"
                name="_token"
                value="Z4nSKb2gKcEph3DxSwU53ZEf7xzPlL0rJ8G7buKZ"
              />
              <button class="btn btn-submit" (click)="run()" type="submit">
                Create Account
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
