<div class="container settings-container">
    <div>
        <h2 class="editstake">Edit Stake</h2>
        <div class="grid-stake">
            <div class="input-group"><label for="">Stake1: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake1" placeholder="100" numberonly="" class="ng-untouched ng-pristine ng-valid">
            </div>
            <div class="input-group"><label for="">Stake2: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake2" placeholder="500" numberonly="" class="ng-untouched ng-pristine ng-valid">
            </div>
            <div class="input-group"><label for="">Stake3: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake3" placeholder="1000" numberonly="" class="ng-untouched ng-pristine ng-valid">
            </div>
            <div class="input-group"><label for="">Stake4: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake4" placeholder="5000" numberonly="" class="ng-untouched ng-pristine ng-valid">
            </div>
            <div class="input-group"><label for="">Stake5: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake5" placeholder="10000" numberonly=""
                    class="ng-untouched ng-pristine ng-valid"></div>
            <div class="input-group"><label for="">Stake6: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake6" placeholder="25000" numberonly=""
                    class="ng-untouched ng-pristine ng-valid"></div>
            <div class="input-group"><label for="">Stake7: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake7" placeholder="50000" numberonly=""
                    class="ng-untouched ng-pristine ng-valid"></div>
            <div class="input-group"><label for="">Stake8: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake8" placeholder="100000" numberonly=""
                    class="ng-untouched ng-pristine ng-valid"></div>
            <div class="input-group"><label for="">Stake9: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake9" placeholder="200000" numberonly=""
                    class="ng-untouched ng-pristine ng-valid"></div>
            <div class="input-group"><label for="">Stake10: </label><input id="input" autocomplete="off" type="number"
                    formcontrolname="stake10" placeholder="500000" numberonly=""
                    class="ng-untouched ng-pristine ng-valid"></div>
        </div>
    </div>
</div>
<div class="btn_box">
    <button class="btn btn-primary" type="submit">Save</button>

    <button type="button" class="btn">Cancel</button>
</div>